* {
 margin: 0;
 padding: 0;
}

html {
 font-family: "Lato" , "sans-serif";
 font-size: 12px;
 color: #000;
 background: #F0F4F5;
}

header {
 width:auto;
 height: 400px;
}

.topNav {
	height: 55px;
	background: #B4C4C0;
}
.topNav img {
 width: 40px;
 height: 40px;
 padding: 8px 0 0 20px;
}

.topNav p {
 display: inline-block;
 font-size: 2.2em;
 font-weight: 100;
 position: absolute;
 padding: 12px 0 0 12px;
}


h1 {
 font-weight: 100;
 font-size: 7.0em;
 margin-top: 12%;
 margin-left: 30%;
}

.border {
 width: 39%;
 margin-left: 30%;
 border: rgba(0,0,0,.1) solid 1px;
 border-width: thin;

}

.title {
 font-weight: 100;
 font-size: 2.0em;
 margin: 1% 0 0 34%;
}


a {
 color: black;
 text-decoration: none:
}

.container {
 width: 1000px;
 margin: 40px auto;
 overflow: auto;
}

.slider-inner {
 width: 950px;
 height: 500px;
 position: relative;
 overflow: hidden;
 float: left;
 padding: 3px;
 border: #B1BABD solid 1px;
 margin: 8% 0 10% 0;
}

.slider-inner img {
 display: none;
 width: 950px;
 height: 500px;
}

.slider-inner img.active {
  display: inline-block;
}

.prev, .next {
 float: left;
 margin-top: 280px;
 cursor: pointer;
}

.prev {
 position: relative;
 margin-right: -45px;
 z-index: 100;
 width: 50px;
 height: 50px;
}

.next {
 position: relative;
 margin-left: -45px;
 z-index: 100;
 width: 70px;
 height: 70px;
}

#linkBorder {
 height: 50px;
 background: #B4C4C0;
}

#pastaLink li {
 display: inline-block;
 font-weight: 200;
 font-size: 2.2em;
 margin-left: 4%;
 padding: 5px 0 0 1%;
}

.recipe {
 height: 2200px;
}

.recipeInfo {
 width: 40%;
 height: 350px;
 float: left;
 margin: 5% 3% 0 6%;
}

.recipeInfo img {
 width: 80%;
 height: 80%;
 padding: 5% 0 0 10%;
}

#indTitle {
text-align: center;
}

.recipeInfo  li {
 font-size: 1.3em;
 font-weight: 200;
 list-style: none;
 margin-top: 2%;
}

.seperate {
 border: 1px solid rgba(0,0,0, .1);
 margin-bottom: 5%
 
}

footer {
 height: 160px;
 background: #a5b8b4;
 
}

footer img {
 width: 45px;
 height: 45px;
 border-radius: 100%
}

footer h3 {
 font-size: 2.1em;
 font-weight: 200;
 text-align: center;
 margin-left: 3%;
 padding-top: 6px;
}

footer ul li {
 display: inline-block;
 margin: 3% 0 0 25px;
 
}

.leftImg {
 margin-left: 520px;
}


/* MEDIA QUERIES */


@media screen and (max-width: 700px) {
  
 .topNav p {
 font-size: 2.0em;
}



h1 {
 font-size: 5.8em;
 margin-top: 25%;
 margin-left: 20%;
}

.title {
 font-size: 1.8em;
 margin: 1% 0 0 24%;
}

.container {
 width: 900px;
 margin: 40px auto;
 margin-left: 6%;
 overflow: auto;
}

.slider-inner {
 width: 600px;
 height: 500px;
 position: relative;
 overflow: hidden;
 float: left;
 padding: 3px;
 border: #B1BABD solid 1px;
 margin: 4% 0 12% 0;
}
	
.recipe {
 height: 3950px;
}

.slider-inner img {
 display: none;
 width: 600px;
 height: 500px;
}

#pastaLink li {
 font-weight: 300;
 font-size: 1.2em;
}

.recipeInfo {
 width: 70%;
 height: 350px;
}

.recipeInfo img {
 width: 90%;
 height: 90%;
 padding: 8% 0 0 14%;
}
	
.recipeInfo  li {
 font-size: 1.3em;
 font-weight: 200;
 list-style: none;
 margin-top: 2%;
 margin-left: 4%
}
	
footer ul li {
 display: inline-block;
 margin: 6% 0 0 20px;
 
}

.leftImg {
  margin-left: 200px;
}

}

@media screen and (max-width: 400px) {
	
header {
  height: 400px;
}

.topNav img {
 width: 35px;
 height: 35px;
 padding: 8px 0 0 20px;
}

.topNav p {
 font-size: 1.4em;
 font-weight: 200;
 position: absolute;
 padding: 16px 0 0 12px;
}


h1 {
 font-weight: 100;
 font-size: 4.3em;
 margin-top: 37%;
 margin-left: 12%;
}

.border {
 width: 59%;
 margin-left: 24%;
 border: rgba(0,0,0,.1) solid 1px;
 border-width: thin;

}

.title {
 font-weight: 100;
 font-size: 1.2em;
 margin: 1% 0 0 19%;
}

.container {
 width: 360px;
 margin: 40px auto;
 margin-bottom: 40%;
 margin-left: 4%;
 overflow: auto;
}

.slider-inner {
 width: 322px;
 height: 420px;
 position: relative;
 overflow: hidden;
 float: left;
 padding: 3px;
 border: #B1BABD solid 1px;
 margin: 8% 0 10% 0;
}

.slider-inner img {
 display: none;
 width: 322px;
 height: 420px;
}

.prev, .next {
 float: left;
 margin-top: 210px;
 cursor: pointer;
}

.recipeInfo img {
 width: 95%;
 height: 95%;
 padding: 12% 0 4% 10%;
}

footer ul li {
 display: inline-block;
 margin: 10% 0 0 25px;
 
}

.leftImg {
 margin-left: 12%;
}	

.recipeInfo  li {
 font-size: 1.3em;
 font-weight: 200;
 list-style: none;
 margin-top: 1.5%;
}

	
}
































